In [1]:
print("ftft")

ftft

In [2]:
import pandas as pd
pd.set_option("display.max_rows",1000)    # or pd.options.display.max_rows=1000
pd.set_option("display.max_columns",20)   # or pd.options.display.max_columns=20 
pd.set_option('precision',7)
pd.set_option('large_repr', 'truncate')

import pandas as pd
data = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

  group  ounces
0     a     4.0
1     a     3.0
2     a    12.0
3     b     6.0
4     b     7.5
5     b     8.0
6     c     3.0
7     c     5.0
8     c     6.0

In [25]:
import pandas as pd
data=pd.DataFrame({'Priyanka': ['1','1.1','1.2','2'],
                  'Vipluv':['3','4','1','0'],
                  'Prerna': ['2','1.5','2.3','2.4']})
data

  Prerna Priyanka Vipluv
0      2        1      3
1    1.5      1.1      4
2    2.3      1.2      1
3    2.4        2      0

In [8]:
data.describe()

       Prerna Priyanka Vipluv
count       4        4      4
unique      4        4      4
top         b        d      d
freq        1        1      1

In [9]:
data.sort_values(by=['group','ounces'], ascending=[False, True], inplace=True)
data

KeyError: 'group'

In [10]:
data.sort_values(by=['Priyanka','Vipluv'], ascending=[False, True], inplace=True)
data

  Prerna Priyanka Vipluv
3   none        d      d
2      c        c      c
1      b        b      b
0      a        a      a

In [12]:
data.sort_values(by=['Priyanka','Vipluv'], ascending=[False, True], inplace=True)
data

  Prerna Priyanka Vipluv
3   none        2      0
2      c      1.2      1
1      b      1.1      4
0      a        1      3

In [14]:
data.sort_values(by=['Priyanka','Vipluv'], ascending=[False, True], inplace=True)
data

  Priyanka Vipluv
3        2      0
2      1.2      1
1      1.1      4
0        1      3

In [15]:
data.sort_values(by=['Priyanka','Vipluv'], ascending=[True, False], inplace=True)
data

  Priyanka Vipluv
0        1      3
1      1.1      4
2      1.2      1
3        2      0

In [16]:
data.sort_values(by=['Priyanka','Vipluv'], ascending=[False, True], inplace=False)
data

  Priyanka Vipluv
0        1      3
1      1.1      4
2      1.2      1
3        2      0

In [17]:
data.sort_values(by=['Priyanka','Vipluv'], ascending=[False, True], inplace=True)
data

  Priyanka Vipluv
3        2      0
2      1.2      1
1      1.1      4
0        1      3

In [18]:
data.sort_values(by=['Priyanka','Vipluv'], ascending=[True, False], inplace=True)
data

  Priyanka Vipluv
0        1      3
1      1.1      4
2      1.2      1
3        2      0

In [19]:
data.sort_values(by=['Priyanka','Vipluv'], ascending=[False, True], inplace=False)
data

  Priyanka Vipluv
0        1      3
1      1.1      4
2      1.2      1
3        2      0

In [20]:
data.sort_values(by=['Priyanka','Vipluv'], ascending=[False, True], inplace=True)
data

  Priyanka Vipluv
3        2      0
2      1.2      1
1      1.1      4
0        1      3

In [22]:
data.sort_values(by=['Priyanka','Vipluv'], ascending=[False, True], inplace=True)
data

  Prerna Priyanka Vipluv
3    2.4        2      0
2    2.3      1.2      1
1    1.5      1.1      4
0      2        1      3

In [23]:
data.sort_values(by=['Priyanka','Vipluv'], descending=[False, True], inplace=True)
data

TypeError: sort_values() got an unexpected keyword argument 'descending'

In [24]:
data.sort_values(by=['Priyanka','Vipluv','Prerna'], ascending=[False, True], inplace=True)
data

ValueError: Length of ascending (2) != length of by (3)

In [26]:
data.sort_values(by=['Priyanka','Vipluv'], ascending=[False, True], inplace=True)
data

  Prerna Priyanka Vipluv
3    2.4        2      0
2    2.3      1.2      1
1    1.5      1.1      4
0      2        1      3

In [27]:
data.sort_values(by=['Priyanka','Vipluv'], ascending=[False, True, True], inplace=True)
data

ValueError: Length of ascending (3) != length of by (2)

In [28]:
data.sort_values(by=['Priyanka','Vipluv', 'Prerna'], ascending=[False, True], inplace=True)
data

ValueError: Length of ascending (2) != length of by (3)

In [29]:
data.sort_values(by=['Priyanka','Vipluv', 'Prerna'], ascending=[False, True, True], inplace=True)
data

  Prerna Priyanka Vipluv
3    2.4        2      0
2    2.3      1.2      1
1    1.5      1.1      4
0      2        1      3

In [30]:
data.sort_values(by=['Priyanka','Vipluv', 'Prerna'], ascending=[True, True, True], inplace=True)
data

  Prerna Priyanka Vipluv
0      2        1      3
1    1.5      1.1      4
2    2.3      1.2      1
3    2.4        2      0

In [31]:
data.sort_values(by=['Priyanka','Vipluv', 'Prerna'], ascending=[False, True, True], inplace=True)
data

  Prerna Priyanka Vipluv
3    2.4        2      0
2    2.3      1.2      1
1    1.5      1.1      4
0      2        1      3

In [32]:
data.sort_values(by=['Priyanka','Vipluv', 'Prerna'], ascending=[False, True, True], inplace=False)
data

  Prerna Priyanka Vipluv
3    2.4        2      0
2    2.3      1.2      1
1    1.5      1.1      4
0      2        1      3

In [33]:
data.sort_values(by=['Prerna'], ascending=[False], inplace=False)
data

  Prerna Priyanka Vipluv
3    2.4        2      0
2    2.3      1.2      1
1    1.5      1.1      4
0      2        1      3

In [34]:
data.sort_values(by=['Priyanka','Vipluv', 'Prerna'], ascending=[True, True, True], inplace=True)
data

  Prerna Priyanka Vipluv
0      2        1      3
1    1.5      1.1      4
2    2.3      1.2      1
3    2.4        2      0

In [35]:
data.sort_values(by=['Prerna'], ascending=[True], inplace=True)
data

  Prerna Priyanka Vipluv
1    1.5      1.1      4
0      2        1      3
2    2.3      1.2      1
3    2.4        2      0

In [47]:
import pandas as pd
data=pd.DataFrame({'Priyanka': ['4.0','3.0','2.0','1.0']})
data

  Priyanka
0      4.0
1      3.0
2      2.0
3      1.0

In [39]:
data.sort_values(by=['Priyanka'], ascending=[True] )
data

       Priyanka
1      11213121
3             2
2            34
0  764853709660

In [41]:
data.sort_values(by=['Priyanka'], ascending=[True] )
data

  Priyanka
0        4
1        3
2        2
3        1

In [42]:
data.sort_values(by=['Priyanka'], ascending=[False] )
data

  Priyanka
0        4
1        3
2        2
3        1

In [43]:
data.dtypes()

TypeError: 'Series' object is not callable

In [44]:
data.dtypes

Priyanka    object
dtype: object

In [51]:
data.sort_values(by=['Priyanka'], ascending=[True] , inplace=True)
data

  Priyanka
3      1.0
2      2.0
1      3.0
0      4.0

In [49]:
data.sort_values(by=['Priyanka'], ascending=[False] )
data

  Priyanka
0      4.0
1      3.0
2      2.0
3      1.0

In [52]:
data1=data.sort_values(by=['Priyanka'], ascending=[True])
data1

  Priyanka
3      1.0
2      2.0
1      3.0
0      4.0

In [54]:
movies=numpy.loadtxt("movies.dat")

NameError: name 'numpy' is not defined

In [55]:
data.loadtxt("movies.dat")

AttributeError: 'DataFrame' object has no attribute 'loadtxt'